<!DOCTYPE html>
<html>
	<body> 
		<h1>Les développeurs SLAM</h1>
		<p>Bienvenue sur notre site des développeurs SLAMs</p>
		<p>Vous allez bientôt construire un blog réservé à votre spécialité et qui présentera les nouveaux langages, techno ...</p>
	</body>
</html>
